
.card-author:hover .card-author-img-wrapper img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.card-author:hover .card-author-img-wrapper .button {
  -webkit-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.card-author-img-wrapper {
  margin-bottom: 1.375rem;
  position: relative;
  overflow: hidden;
}

.card-author-img-wrapper .button {
  transition: all 0.2s ease;
  background-color: #767676;
  padding: 1rem 0.5rem;
  bottom: -3rem;
  -webkit-transform: translateY(3rem);
      -ms-transform: translateY(3rem);
          transform: translateY(3rem);
  position: absolute;
  z-index: 2;
  color: #fefefe;
  margin-bottom: 0;
}

.card-author-img-wrapper .button:hover {
  background-color: #1779ba;
}

.card-author-img-wrapper img {
  transition: all 0.2s ease;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  width: 100%;
}

.card-author-img-wrapper .card-author-name {
  font-size: 1.375rem;
}

.card-author-img-wrapper .card-author-title {
  font-weight: bold;
}

.card-author-img-wrapper .card-author-description {
  color: #8a8a8a;
  font-size: 0.875rem;
  margin-bottom: 0;
}