/*BASIC*/
html {height: auto; width: auto; margin: 0px; padding: 0px;}
body {font-family: 'Open Sans Condensed', sans-serif; height: auto; width: auto; margin: 0px; padding: 0px;}

h1 {color: white;}
h1 {font-family: 'Fascinate Inline', cursive; text-align: center; font-size: 80px;}
h2 {font-family: 'Aladin', cursive; letter-spacing: 2px; text-align: center; font-size: 40px;}
h3 {text-align: center; font-size: 20px;}

a:link, a:visited {color: #111111; text-decoration: none;}

a:hover,a:active {color: #001f3f;}


/*GENERAL*/
.section .header_text {z-index: 1;}
.up_button {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	z-index: 200;

	border: 2px solid #85144b;
	border-radius: 50px;

	-webkit-transition: -webkit-transform .1s;
	transition: transform .1s;

	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);

	-webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);

	font-family: 'Open Sans Condensed', sans-serif; 
	font-weight: bold;
	text-align: center;
}

.arrow_image {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 100px;
	height: 100px;
	z-index: 200;

  /*rotate arrow*/
  -webkit-transition: -webkit-transform .1s;
	transition: transform .1s;

	-webkit-transform: scale(1.0) rotate(-90deg);
	-ms-transform: scale(1.0) rotate(-90deg);
	transform: scale(1.0) rotate(-90deg);
}

.arrow_image:hover {
-webkit-transform: scale(1.3) rotate(-90deg);
-ms-transform: scale(1.3) rotate(-90deg);
transform: scale(1.3) rotate(-90deg);
}

.page {
width: auto;
min-height: 800px;
}
.gradient {
position: absolute;
width: 100%;
height: 800px;
padding: 0;
margin: 0;
opacity: 0.5;
filter: alpha(opacity=50);
}
.gradient_games {
background: #000000;
background: -webkit-linear-gradient(65deg, rgb(119, 119, 119), #000000);
}

.gradient_front {
background: transparent;
background: -webkit-linear-gradient(65deg, black, gray);
}

.text_grad_black_green {
	background: -webkit-linear-gradient(65deg, black, rgb(0, 255, 0));
  -webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}

.header_text {padding-top: 100px; min-width: 100%; }

/*MENU*/
.menu_section {
	position: fixed;
	z-index: 100;
	top: 0px;
	height: 50px;
	width: 100%;
	padding-right: 50px;
	padding-left: 50px;
	background-color: white;

	-webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
}

@media screen and (max-width: 720px) {
.menu_section {width: 85vw; border-right: 15vw solid black;}
}
.menu_section {font-family: 'Open Sans Condensed', sans-serif; }

.branding p {font-size: 50px; text-align: center; line-height: 0px;}

.menu_item {
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	min-width: 70px;
	background-color: white;
	text-align: center;

	-webkit-transition: -webkit-transform .1s;
	transition: transform .1s;

	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);

	-webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
}
.menu_item:hover {
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);

z-index: 150;
}
.section_container {margin-right: auto; margin-left: auto;}
.menu_color_change {background-color: transparent;}

	/*MENU DROPDOWN*/
	@media screen and (min-width: 720px) {.dropdown-content{display: none;} .dropdown {display: none;}}
	@media screen and (max-width: 719px) {
		.dropdown-content {
		    display: none;
		    position: absolute;
		    background-color: white;
		    padding: 5px;
		    z-index: 1;
		    left: 0;
		}
			.dropdown:hover .dropdown-content {
			    display: block;
			}
		.menu_item_inside {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;

			background-color: none;
		}
		.menu_item_outside {display: none;}
	}

/*FLEX*/
.flex_container {display: flex; flex-wrap: wrap; align-items: center;}
.flex_header_container {justify-content: center;}
.flex_header_item {
	min-width: 350px;
	max-width: 600px;
	z-index: 50;
}

.flex_feature_item {
	-webkit-transition: -webkit-transform .1s;
	transition: transform .1s;

	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
}
	.flex_feature_item:hover {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
.flex_center {justify-content: center;}

/*HEADER*/
.header_quote {border-radius: 5px; padding: 100px;}
.header_section {
	background-color: black;
	background-position: center;
	background-image: url(../img/gamejam-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
}

/*SECOND*/
.second_section {
	min-height: 700px;
	height: auto!important;
	background: repeating-linear-gradient(
	  45deg,
	  white,
	  white 3px,
	  rgba(0, 116 ,217, 0.01) 3px,
	  rgba(0, 116 ,217, 0.01) 5px
	);
}

/* LEADERBOARD */
#snakeLeaderboard, #clickerLeaderboard, #breakoutLeaderboard {
	color: rgb(66, 250, 66);
	min-width: 350px!important;
	max-width: 500px!important;
}

/*FEATURED*/
.feature {
	min-width: 250px;
	max-width: 300px;
	height: 450px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
	padding-top: 10px;

	color: grey;
	filter: grayscale(50%);

	-webkit-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
	box-shadow: 9px 10px 39px -2px rgba(0,0,0,0.3);
}
	.feature h2 {line-height: 0;}
	.feature p, h3 {text-align: center; margin: auto; max-width: 200px;}
	.feature .feature_image {width: 200px; height: 200px; margin: auto; border-radius: 200px; background-size: cover;}
	.feature1 .feature_image {background-image: url(../img/darek-foghorn.png);}
	.feature2 .feature_image {background-image: url(../img/emily-pebbles.png);}
	.feature3 .feature_image {background-image: url(../img/lydia-jerry.png);}

/*GAMES*/
.box {
	min-width: 350px!important;
	max-width: 500px!important;
	background-color: rgba(255,255,255, .05);
}
.box h2 {margin-bottom: 50px;}
.box p {max-width: 70%;}
	
/*THIRD*/
.third_section {
	height: 800px;
	background-position: center;
	background-image: url(../img/classics-bg.jpg);
	background-size: cover;
}

#games-images {
	width: 300px;
	display: block;
	margin: auto;
}

/*FOURTH*/
.fourth_section {
	background: black;
	background-position: center;
	background-image: url(../img/fourth-background.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}


@media screen and (max-width: 1619px) {
	.gradient_fourth_section {height: 1247.19px;}
}
@media screen and (max-width: 1079px) {
	.gradient_fourth_section {height: 1697.19px;}
}

@media screen and (max-width: 417px) {
.gradient_header_section {height: 828.56px;}
}
@media screen and (max-width: 367px) {
.gradient_header_section {height: 968.56px;}
}
/*FOOTER*/
.footer_section {
	background: black;
	height: 40px;
}
.footer_text {
	background: black;
	margin-top: 0;
	text-align: center;
	color: white;
}