.wrapper {
  margin: 0 auto;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

/* Header */
.subnav-hero-section {
    text-align: center;
    background: url('../img/classics-bg.jpg');
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
}

/* Nav Bar */
a:link {
  text-decoration: none;
}

.nav-bar {
  margin: 0 auto 20px;
  background: #360C27;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 2.5;
}

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines a {
  padding: 0.75rem 0;
  color: white;
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines a:first-child a {
  margin-left: 0;
}

.menu-hover-lines a.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #f8e36b;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines a.active > a {
  color: #7d5552;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

/* Row Div */
.row {
  margin: 0;
}

.row-leaderboard {
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
}

.row-leaderboard:after {
  content: "";
  display: block;
  clear: both;
}

.col-one, .col-two {
  color: yellow;
  float: left;
  width: 40%;
  text-align: center;
  margin: 10px;
  height: 500px;
  padding-left: 50px;
}

.col-two {
  border-left: 1px solid;
}

/* Main Content */
.main-window {
  float: left;
  width: 75%;
  margin-bottom: 20px;
}

.col-md-12 {
  text-align: center;
}

h1#sign-in-welcome {
  color: red;
  text-align: left;
}

/* Sign Up */

form .form-icons {
  text-align: center;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
}

form .form-icons .input-group-field {
  border-color: #1779ba;
}

form .form-icons .fa {
  color: white;
  width: 1rem;
}

/* All Game */
#game-view {
  margin: 20px auto;
}

/* Games */
img#games-img {
  float: left;
  width: 200px;
  margin-left: 20px;
}

/* Main Window Titles */
h1#ingame-view, h1#allgames-title {
  text-align: center;
}

/* Canvas */
canvas#snake {
  display: block;
  margin: 0 auto;
}

/* Scoreboard DIV */
.scoreboard-right {
  float: right;
  padding-left: 20px;
  border-left: 1px solid black;
  width: 15%;
}

/* Leaderboard - Sidebar */
section#leaderboard-snake, section#leaderboard-clicker{
  display: block;
  margin: 0 auto 10 auto;
  text-align: center;
}

section#leaderboard-snake, section#leaderboard-clicker{
    text-align: left;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .row {
    width: 100%;
  }
}

#game{
  text-align: center;
  margin: auto;
  font-size: 20px;
  border: 5px outset #1779ba;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 20px;
}

#secondsLeft{
  font-size: 30px;
}

#clicks{
  font-size: 30px;
}

#subScore{
  text-align: center;
}

#buttons{
  text-align: center;
}

.scoreButton{
  background-color: blue;
  border-color: lightskyblue;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#clickUp{
  background-color: red;
  border-color: lightcoral;
  margin-bottom: 10px;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#start{
  background-color: green;
  border-color: lightGreen;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#restart{
  background-color: orange;
  border-color: rgb(255, 201, 102);
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#subScore{
  color: navy;
  font-size: 25px;
  border: 5px inset rgb(111, 111, 201);
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 20px;
}